html, body, #root {
}

#root {
	min-height: 100vh;
}
#stats {
	bottom: 0;
	top: auto !important;
}

.full {
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
}

.align-right {
	text-align: right;
}

.no-padding {
	padding: 0 !important;
}

.center2d {
	transform:translate(-50%, -50%);
	position:absolute;
	top:50%;
	left:50%;
}

.center3d {
	transform:translate3d(-50%, -50%, 0);
	position:absolute;
	top:50%;
	left:50%;
}

.video-controlled {
	display: none!important;
	position:absolute;
	top:0;
	left:0;
}

.valign {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}
