// Brand colors
// -------------------------
$brand:         #D9001A;
$white:         #fff;
$black:         #000;

$yellow:        #f9da12;
$red:           #D9001A;
$orange:        #F46921;
$purple:        #6B439E;
$darkgray:      #3C3C3B;
$gray:          #D1D1D1;
$lightgray:     #f5f5f5;

$blue: #000887;
$blue-dark: #00085a;
$blue-darkest: #000821;
$blue-light: #7addd8;
$blue-lightest: #0008f8;

$lolita-red: #d50d31;

$primary-color: $blue;
$secondary-color: $blue-darkest;
$tertiary-color: $blue-light;
