// $font-heading:       'HurmeHurmeGeometricSans3Black', sans-serif;
// $font-sans-serif:    'HurmeHurmeGeometricSans3Regular', sans-serif;
// $font-serif:         'HurmeHurmeGeometricSans3Regular', sans-serif;

$font-heading:       'Montserrat', sans-serif;
$font-sans-serif:    'Oswald', sans-serif;
$font-serif:         'Montserrat', sans-serif;

$ultra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 900;

$font-size-base: 16px;
$font-size-large: 18px;
$font-size-small: 14px;

$font-size-h1: 2.118em;
$font-size-h2: 1.824em;
$font-size-h3: 1.412em;
$font-size-h4: 1.125em;
$font-size-h5: 1em;
$font-size-h6: 1em;

// 1.286em = 18px
// 1.429em = 20px
// 1.786em = 25px
// 7.375em = 118px
// 9.571em = 134px
